doctype html
html
    head
        title Error

        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        .container
            .row
                .col-md-10.col-md-offset-1.panel.panel-default.vertical-center.text-center
                    .row
                        h1.margin-base-vertical Error
                        .to-fade
                            if message && message.length
                                div.text-danger.bg-danger(style='padding:1em;margin:1em;border-radius:0.5em') !{message}

                            p
                                pre.text-left
                                    !{stack}

        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js')
