doctype html
html
    head
        title Main Page

        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        .container
            .col-md-10.col-md-offset-1.panel.panel-default.vertical-center.text-center
                h1.margin-base-vertical Hello World!

        .footer
            .col-md-12.text-center
                h6 Weather forecast data from&nbsp;
                    a http://www.wunderground.com/?apiref=c6c22cee1e9a19f7

        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js')
